.login {
    max-width: 500px !important;
    background: rgb(215, 247, 31);
    background: linear-gradient(87deg, #eba910 0%, #dde035 100%);
    border-radius: 20px;
    border: solid black 3px;
}

.prova {
    background-color: transparent !important;
    border-color: azure !important;
}

.prova:hover {
    background-color: rgba(255, 255, 255, 0.316) !important;
    border-color: azure !important;
}

.prova:active {
    background-color: rgba(255, 255, 255, 0.681) !important;
    border-color: azure !important;
}

.form-control:focus {
    border: none !important;
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.423) !important;
}