.blog-navbar-brand {
    width: 180px;
}

.blog-navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
}


.proviamo {
    display: flex !important;
    justify-content: space-between !important;
}

.img-avatar {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.togli-bordo {
    border-style: none;
}

.togli-bordo:focus {
    border-style: none;
}

.selection:hover {
    color: #ffffff !important;
    background: rgb(1, 85, 213);
    background: linear-gradient(87deg, rgba(1, 85, 213, 1) 0%, rgba(76, 153, 91, 1) 100%);
}

.selection:active {
    color: #ffffff !important;
    background: rgb(1, 85, 213);
    background: linear-gradient(87deg, rgba(1, 85, 213, 1) 0%, rgba(76, 153, 91, 1) 100%);
}

.nav-a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: large;
    /*transition: font-size 0.3s ease;*/
    transition: transform 0.3s ease;
    display: inline-block;
    /* Importante per gestire lo spazio */
}

.nav-a:hover {
    /* font-size: 26px; */
    transform: scale(1.2);
    transform-origin: center;
}

.tag-ul {
    list-style: none;
}