.blog-navbar-brand {
    width: 180px;
}

.blog-navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
    box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
}




.img-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.togli-bordo {
    border-style: none;
}

.togli-bordo:focus {
    border-style: none;
}

.selection:hover {
    color: #ffffff !important;
    background: rgb(1, 85, 213);
    background: linear-gradient(87deg, rgba(1, 85, 213, 1) 0%, rgba(76, 153, 91, 1) 100%);
}

.selection:active {
    color: #ffffff !important;
    background: rgb(1, 85, 213);
    background: linear-gradient(87deg, rgba(1, 85, 213, 1) 0%, rgba(76, 153, 91, 1) 100%);
}