body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {

  background-image: url("./assets/bg3.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;


  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='3000' preserveAspectRatio='none' viewBox='0 0 1920 3000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2038%26quot%3b)' fill='none'%3e%3crect width='1920' height='3000' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2039%26quot%3b)'%3e%3c/rect%3e%3cpath d='M-362.97 2693.86 a429.35 429.35 0 1 0 858.7 0 a429.35 429.35 0 1 0 -858.7 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M580.78 388.91 a485.91 485.91 0 1 0 971.82 0 a485.91 485.91 0 1 0 -971.82 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M746.81 1173.53 a348.18 348.18 0 1 0 696.36 0 a348.18 348.18 0 1 0 -696.36 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1297.96 1172.18 a411.36 411.36 0 1 0 822.72 0 a411.36 411.36 0 1 0 -822.72 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M618.58 1128.04 a346.87 346.87 0 1 0 693.74 0 a346.87 346.87 0 1 0 -693.74 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M156.35 2715.42 a411.07 411.07 0 1 0 822.14 0 a411.07 411.07 0 1 0 -822.14 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-237.37 351.41 a468.51 468.51 0 1 0 937.02 0 a468.51 468.51 0 1 0 -937.02 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M-374.05 2036.57 a608.02 608.02 0 1 0 1216.04 0 a608.02 608.02 0 1 0 -1216.04 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1071.16 1348.15 a475.53 475.53 0 1 0 951.06 0 a475.53 475.53 0 1 0 -951.06 0z' fill='rgba(244%2c 244%2c 244%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2038'%3e%3crect width='1920' height='3000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='50%25' x2='0%25' y2='50%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2039'%3e%3cstop stop-color='rgba(0%2c 255%2c 81%2c 0.43)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 161%2c 255%2c 0.5)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */

}



.component-bg {
  background-color: rgba(255, 255, 255, 0.493);
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
}

.m-t-IdPage {
  margin-top: 220px;
}

.img-Idpage {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}